<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_eAdapterStreamedService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_eAdapterStreamedService"
                contract="eAdapterStreamedService" name="BasicHttpBinding_eAdapterStreamedService_eAdapterStreamedService" />
        </client>
    </system.serviceModel>
</configuration>