<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="TwoWaySynonymsContext" connectionString="Data Source=(localhost); Initial Catalog=TwoWaySynonyms; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|TwoWaySynonymsContext-20200623140016.mdf"
      providerName="System.Data.SqlClient" />-->
		<add name="TwoWaySynonymsContext" connectionString="Data Source=localhost;Initial Catalog=TwoWaySynonyms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="fileDirectoryIn" value="c:\\temp\in\" />
		<add key="fileDirectoryOut" value="C:\\temp\out\" />
		<add key="fileDirectoryArchive" value="C:\\temp\archive\" />
		<add key="fileDirectoryExclude" value="c:\\temp\exclude\" />
		<add key="filePrefix" value="SetOutput_" />
		<add key="fileSuffix" value="" />
		<add key="fileExtension" value=".txt" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>